@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.section-container {
  @apply mx-auto max-w-6xl text-center px-16;
}

.section-content {
  @apply mx-auto max-w-3xl text-center text-2xl leading-9 text-grayishBlue md:text-xl;
}

.button-container {
  @apply flex flex-row justify-center gap-x-6 text-xl md:w-1/2 md:flex-col md:items-center md:gap-x-0 md:gap-y-6;
}

@layer base {
  h3 {
    @apply mb-8 text-5xl font-bold text-darkGrayishBlue md:text-4xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue md:text-xl;
  }
  .ficon:hover {
    fill: hsl(171, 66%, 44%);
  }
}
